.brand__field {
    display: flex;
    height: 765px;
    width: 100%;
    margin-bottom: 63px;
}

.brand__field__title {
    flex-grow: 1;
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
}

.title__box {
    padding-left: 16px;
    text-align: left;
    margin-left: 64px;
    border-left: 12px solid #F16D7F;
}